.container {
  min-width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto repeat(11, auto);

  .header {
    min-height: 120px;
    grid-row: 1;
    grid-column: 1/ span 12;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .child {
    grid-column: 1 / span 12;
    color: black;
    width: 100%;
  }

  .footer {
    background-color: #F6F6F6;
    align-self: end;
    grid-column: 1 / span 12;
    grid-row: 12;
    width: 100%;
    height: auto;
  }
}
