.card {
    border: solid 1px #85f910;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .book-image {
        grid-column: 1;
        height: 96px;
        width: 104px;
        object-fit: cover;
    }

    .info-book {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 12px;
        justify-content: space-between;

        .card-title {
            font-weight: 700;
            font-size: 1rem;
            color: black;
        }
        .card-author {
            font-size: 0.85rem;
            color: black;
        }

        .card-subject {
            font-size: 0.85rem;
            color: grey;
        }
    }
}
